server:
    port: 9000
spring:
    application:
        name: cards
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
    datasource:
        url: jdbc:h2:mem:cards
        driverClassName: org.h2.Driver
        username: sa
        password: ""
