server:
    port: 8090
spring:
    application:
            name: loans
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
    datasource:
        url: jdbc:h2:mem:loans
        driverClassName: org.h2.Driver
        username: sa
        password: 
