spring:
    application:
        name: accounts
    config:
        import:
            - "optional:application_prod.yml"  
            - "optional:configserver:http://localhost:8071/config"
            - "optional:application_qa.yml"
    profiles:
        active:
            - "qa"  
    datasource:
        url: jdbc:h2:mem:accounts
        driverClassName: org.h2.Driver
        username: sa
        password: ''
    h2:
        console:
            enabled: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
        show-sql: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
