server:
    port: 8071
spring:
    application:
        name: configserver
    profiles:
      #  active: native    
      active: git
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/Sandeep-Teotia/microservices-banking.git
                    search-paths:
                        - configserver/src/main/resources/config
              #  native:
               #     search-locations: classpath:/config   
                # Add prefix to Config Server endpoints to avoid conflicts with Swagger
                prefix: /config    
management:
    health:
        livenessstate:
            enabled: true
        readinessstate:
            enabled: true
    endpoint:
        health:
            probes:
                enabled: true
    endpoints:
        web:
            exposure:
                include: "refresh,health" 
    
encrypt:
    key: 45D81EC1EF61DF9AD8D3E5BB397F9
