server:
    port: 8071
spring:
    application:
        name: configserver
    profiles:
        active: native    
    cloud:
        config:
            server:
                native:
                    search-locations: classpath:/config   
                # Add prefix to Config Server endpoints to avoid conflicts with Swagger
                prefix: /config     
encrypt:
    key: 45D81EC1EF61DF9AD8D3E5BB397F9
